In [14]:
import pandas as pd

data_1 = pd.read_csv('data/data_1.csv')
data_2 = pd.read_csv('data/data_2.csv')

In [15]:
data = pd.concat([data_1, data_2])

In [17]:
data.head()

,Unnamed: 0,id,first_name,last_name,is_closed,can_access_closed,bdate,books,games,interests,...,universities_city,universities_name,universities_faculty,universities_faculty_name,universities_chair,universities_chair_name,universities_graduation,universities_education_form,universities_education_status,relation
0,0,38529055,Karina,Kravchenko,False,True,26.6.1991,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,48203954,Alexander,Nochevnoy,False,True,NaN,Учебники по квантовой физике и высшей математике,Догони меня кирпич!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,5093353,Seryoga,Poteryanny,False,True,13.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,44696863,Vitalik,Matsevilo,False,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,52041845,Marina,Lazurenko,False,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [20]:
data.describe()

,Unnamed: 0,id,personal_political,personal_religion_id,personal_people_main,personal_life_main,personal_smoking,personal_alcohol,sex,universities_id,universities_country,universities_city,universities_faculty,universities_chair,universities_graduation,relation
count,50023.000000,5.002300e+04,7762.000000,3114.000000,3633.000000,3629.000000,3662.000000,3635.000000,50023.000000,1.138300e+04,1.138300e+04,1.138300e+04,9.522000e+03,6.516000e+03,8553.000000,25785.000000
mean,219.214841,2.988941e+07,3.974233,50.571612,1.240022,1.285478,1.040142,0.847043,1.545969,7.560092e+04,3.245518e+04,1.246164e+05,3.524131e+05,5.730825e+05,2003.874430,1.423386
std,127.215040,1.839482e+07,1.954279,58.551419,1.892681,2.196284,1.492684,1.476933,0.497887,2.055017e+05,1.998636e+06,5.294452e+05,6.588216e+05,7.726600e+05,32.309333,2.020536
min,0.000000,1.660000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000,0.000000
25%,109.000000,1.313539e+07,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.520000e+02,1.000000e+00,2.000000e+00,4.751000e+03,2.682050e+04,2001.000000,0.000000
50%,219.000000,2.964176e+07,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.322000e+03,1.000000e+00,1.100000e+02,4.325150e+04,1.134960e+05,2007.000000,0.000000
75%,329.000000,4.662065e+07,5.000000,102.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.921450e+04,2.000000e+00,3.140000e+02,2.462635e+05,1.188369e+06,2011.000000,4.000000
max,475.000000,5.999997e+07,9.000000,201.000000,6.000000,8.000000,5.000000,5.000000,2.000000,1.191703e+06,1.231231e+08,5.458834e+06,2.276408e+06,2.204548e+06,2024.000000,8.000000