## Подготовка данных

**Импорт библиотек:**

In [1]:
import pandas as pd
import numpy as np

**Склеивание небольших `DateFrame` в единый:**

In [2]:
data_1 = pd.read_csv('data/data_1.csv')
data_2 = pd.read_csv('data/data_2.csv')
data_3 = pd.read_csv('data/data_3.csv')
data_4 = pd.read_csv('data/data_4.csv')
data_5 = pd.read_csv('data/data_5.csv')
data_6 = pd.read_csv('data/data_6.csv')
data_7 = pd.read_csv('data/data_7.csv')
data_8 = pd.read_csv('data/data_8.csv')
data_9 = pd.read_csv('data/data_9.csv')
data_10 = pd.read_csv('data/data_10.csv')

data = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6, data_7, data_8, data_9, data_10])

In [3]:
data['id'] = data['id.1']

data = data.drop('id.1', axis=1)

data = data.drop_duplicates(subset=['id'])

data = data.set_index('id')

**Удаляем неинтересные признаки и повторяющиеся сторки:**

In [4]:
data = data.drop(['first_name',
                  'last_name',
                  'is_closed',
                  'can_access_closed',
                  'personal_langs',
                  'personal_inspired_by',
                  'universities_country',
                  'universities_city',
                  'universities_chair',
                  'universities_chair_name',
                  'universities_graduation',
                  'universities_education_form',
                  'universities_education_status',
                  'universities_faculty',
                  'universities_faculty_name'], axis=1)

**Приводим некоторые столбцы из `float64` в `int32`:**

In [5]:
#data['relation'] = data['relation'].fillna(0).astype(int)
#data['personal_political'] = data['personal_political'].fillna(0).astype(int)
#data['personal_religion_id'] = data['personal_religion_id'].fillna(0).astype(int)
#data['personal_people_main'] = data['personal_people_main'].fillna(0).astype(int)
#data['personal_life_main'] = data['personal_life_main'].fillna(0).astype(int)
#data['personal_smoking'] = data['personal_smoking'].fillna(0).astype(int)
#data['personal_alcohol'] = data['personal_alcohol'].fillna(0).astype(int)
#data['universities_id'] = data['universities_id'].fillna(0).astype(int)
data['sex'] = data['sex'].apply(lambda x: 1 if x == 1 else 0)

**Подготовка файлов для описания религий и университета:**

In [6]:
religion_df = data[['personal_religion', 'personal_religion_id']].sort_values(by='personal_religion_id', ascending=False)
universities_df = data[['universities_name', 'universities_id']].sort_values(by='universities_id', ascending=False)
data = data.drop(['personal_religion', 'universities_name'], axis=1)

In [10]:
religion_df = religion_df.drop_duplicates(subset=['personal_religion_id'])

In [11]:
universities_df = universities_df.drop_duplicates(subset=['universities_id'])

In [24]:
universities_df.tail()

         universities_name  universities_id
id
5174023                NaN              3.0
55743185               МГУ              2.0
29133322             СПбГУ              1.0
30090722               NaN              0.0
8882147                NaN              NaN

**Уберем колличественную разницу в целевом признаке `sex`:**

In [21]:
len(data[data['sex'] == 0]) - len(data[data['sex'] == 1])

0

In [20]:
data = data.drop(data[data['sex'] == 0].index[:22907], axis=0)

**Конвертирование `DateFrame` в `.csv` для дальнейшего анализа:**

In [22]:
data.to_csv('data/data.csv')