## Сбор данных

In [2]:
import requests
import numpy as np
import pandas as pd
import yaml

**Считываем токен из `.yaml` файла:**

In [280]:
conf = open('config.yaml')

config = yaml.load(conf, yaml.SafeLoader)

access_token = config['access_token']

**Подготовка к API запросу. Используется метод `users.get`:**

In [279]:
url = 'https://api.vk.com/method/users.get?'

params = {
    'v': 5.131,
    'access_token': access_token,
    'fields': 'sex, bdate, books, counters, games, interests, music, movies, personal, universities'
}

user_id_list = np.random.randint(1, 60000000, 10)

**Функция, которая 'раскрывает' словарь:**

In [274]:
def del_dict(dictionary, del_dict):
        
    if (del_dict in dictionary.keys()) and len(dictionary[del_dict]) != 0:
        
        if del_dict == 'universities':
            
            for key in dictionary[del_dict][0].keys():
    
                dictionary[key + '_' + del_dict] = dictionary[del_dict][0][key]
    
            dictionary.pop(del_dict)
        
        else:

            for key in dictionary[del_dict].keys():
    
                dictionary[key + '_' + del_dict] = dictionary[del_dict][key]
    
            dictionary.pop(del_dict)
    
    return dictionary

**Заполнение датасета путем API запросов:**

In [275]:
%%time

df = pd.DataFrame()

for user_id in user_id_list:
    
    params['user_ids'] = user_id
    
    r = requests.get(url, params = params)
    
    data_dict = r.json()['response'][0]
    
    if (data_dict['first_name'] != 'DELETED') and \
    ('deactivated' not in data_dict.keys()) and \
    (data_dict['is_closed'] == False) and \
    (data_dict['sex'] != 2):
        
        del_dict(data_dict, 'counters')
        del_dict(data_dict, 'personal')
        del_dict(data_dict, 'universities')
    
        df = df.append(data_dict, ignore_index=True)

Wall time: 915 ms

In [278]:
df.head()

,albums_counters,audios_counters,books,can_access_closed,chair_name_universities,chair_universities,city_universities,clips_followers_counters,country_universities,education_form_universities,...,pages_counters,personal,photos_counters,sex,subscriptions_counters,tv,user_photos_counters,videos_counters,bdate,universities
id,,,,,,,,,,,,,,,,,,,,,
4233759,0.0,0.0,,1.0,Прикладного анализа международных проблем,2044835.0,1.0,0.0,1.0,Full-time,...,0.0,[],0.0,1.0,0.0,,0.0,0.0,NaN,NaN
18914352,0.0,0.0,NaN,1.0,NaN,NaN,NaN,18.0,NaN,NaN,...,0.0,NaN,0.0,1.0,0.0,NaN,NaN,0.0,14.12.1991,NaN
6625497,0.0,0.0,,1.0,NaN,NaN,NaN,0.0,NaN,NaN,...,0.0,[],0.0,1.0,0.0,,0.0,0.0,NaN,[]
3574431,7.0,0.0,NaN,1.0,NaN,NaN,NaN,1256.0,NaN,NaN,...,83.0,NaN,434.0,1.0,22.0,NaN,NaN,285.0,3.2,NaN

In [233]:
df.columns

Index(['albums_counters', 'audios_counters', 'books', 'can_access_closed',
       'chair_name_universities', 'chair_universities', 'city_universities',
       'clips_followers_counters', 'country_universities',
       'education_form_universities', 'faculty_name_universities',
       'faculty_universities', 'first_name', 'followers_counters', 'games',
       'gifts_counters', 'graduation_universities', 'groups_counters', 'id',
       'id_universities', 'interests', 'is_closed', 'langs_personal',
       'last_name', 'music', 'name_universities', 'pages_counters',
       'photos_counters', 'sex', 'subscriptions_counters', 'tv',
       'videos_counters', 'personal', 'universities', 'user_photos_counters',
       'bdate', 'political_personal', 'alcohol_personal',
       'inspired_by_personal', 'life_main_personal', 'people_main_personal',
       'smoking_personal', 'education_status_universities',
       'articles_counters', 'religion_id_personal', 'religion_personal',
       'clips_counters'],
      dtype='object')